In [1]:
import pandas as pd
import requests
import json
import numpy as np

In [2]:
liste=["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre",
"Rouen",
"Paris",
"Amiens",
"Lille",
"Strasbourg",
"Chateau du Haut Koenigsbourg",
"Colmar",
"Eguisheim",
"Besancon",
"Dijon",
"Annecy",
"Grenoble",
"Lyon",
"Gorges du Verdon",
"Bormes les Mimosas",
"Cassis",
"Marseille",
"Aix en Provence",
"Avignon",
"Uzes",
"Nimes",
"Aigues Mortes",
"Saintes Maries de la mer",
"Collioure",
"Carcassonne",
"Ariege",
"Toulouse",
"Montauban",
"Biarritz",
"Bayonne",
"La Rochelle"]

In [3]:
liste= [item.replace(" ", "+") for item in liste]

In [4]:
data = pd.DataFrame()
data

Empty DataFrame
Columns: []
Index: []

In [5]:
for i in liste:
    # Make a request
    r = requests.get("https://nominatim.openstreetmap.org/search?q={}&adress-details=1&format=json".format(i))
    # Store it in our DataFrame
    data = data.append(r.json()[0], ignore_index=True)

In [6]:
mycolumns=['display_name','lat','lon']
data_1=data[mycolumns]

data_first_cities=data_1.iloc[0:9,:]
data_first_cities

                                        display_name         lat         lon
0  Le Mont-Saint-Michel, Avranches, Manche, Norma...  48.6355232  -1.5102571
1  Saint-Malo, Ille-et-Vilaine, Bretagne, France ...   48.649518  -2.0260409
2  Bayeux, Calvados, Normandie, France métropolit...  49.2764624  -0.7024738
3  Le Havre, Seine-Maritime, Normandie, France mé...  49.4938975   0.1079732
4  Rouen, Seine-Maritime, Normandie, France métro...  49.4404591   1.0939658
5        Paris, France métropolitaine, 75044, France  48.8566969   2.3514616
6  Amiens, Somme, Hauts-de-France, France métropo...  49.8941708   2.2956951
7  Lille, Nord, Hauts-de-France, France métropoli...  50.6365654   3.0635282
8  Strasbourg, Bas-Rhin, Grand Est, France métrop...   48.584614   7.7507127

In [77]:
mycolumns=['display_name','lat','lon']
data_1=data[mycolumns]

In [78]:
data_1

,display_name,lat,lon
0,"Le Mont-Saint-Michel, Avranches, Manche, Norma...",48.6355232,-1.5102571
1,"Saint-Malo, Ille-et-Vilaine, Bretagne, France ...",48.649518,-2.0260409
2,"Bayeux, Calvados, Normandie, France métropolit...",49.2764624,-0.7024738
3,"Le Havre, Seine-Maritime, Normandie, France mé...",49.4938975,0.1079732
4,"Rouen, Seine-Maritime, Normandie, France métro...",49.4404591,1.0939658
5,"Paris, France métropolitaine, 75044, France",48.8566969,2.3514616
6,"Amiens, Somme, Hauts-de-France, France métropo...",49.8941708,2.2956951
7,"Lille, Nord, Hauts-de-France, France métropoli...",50.6365654,3.0635282
8,"Strasbourg, Bas-Rhin, Grand Est, France métrop...",48.584614,7.7507127
9,"Château du Haut-Kœnigsbourg, Chemin fermé suit...",48.249489800000006,7.34429620253195
10,"Colmar, Colmar-Ribeauvillé, Haut-Rhin, Grand E...",48.0777517,7.3579641
11,"Eguisheim, Colmar-Ribeauvillé, Haut-Rhin, Gran...",48.0447968,7.3079618
12,"Besançon, Doubs, Bourgogne-Franche-Comté, Fran...",47.2380222,6.0243622
13,"Dijon, Côte-d'Or, Bourgogne-Franche-Comté, Fra...",47.3215806,5.0414701
14,"Annecy, Haute-Savoie, Auvergne-Rhône-Alpes, Fr...",45.8992348,6.1288847
15,"Grenoble, Auvergne-Rhône-Alpes, France métropo...",45.1875602,5.7357819
16,"Lyon, Métropole de Lyon, Circonscription dépar...",45.7578137,4.8320114
17,"Gorges du Verdon, La Palud-sur-Verdon, Castell...",43.7497,6.32859
18,"Bormes-les-Mimosas, Toulon, Var, Provence-Alpe...",43.1506968,6.3419285
19,"Cassis, Marseille, Bouches-du-Rhône, Provence-...",43.2140359,5.5396318
20,"Marseille, Bouches-du-Rhône, Provence-Alpes-Cô...",43.2961743,5.3699525
21,"Aix-en-Provence, Bouches-du-Rhône, Provence-Al...",43.5298424,5.4474738
22,"Avignon, Vaucluse, Provence-Alpes-Côte d'Azur,...",43.9492493,4.8059012
23,"Uzès, Nîmes, Gard, Occitanie, France métropoli...",44.0121279,4.4196718
24,"Nîmes, Gard, Occitanie, France métropolitaine,...",43.8374249,4.3600687
25,"Aigues-Mortes, Nîmes, Gard, Occitanie, France ...",43.5658225,4.1912837
26,"Saintes-Maries-de-la-Mer, Arles, Bouches-du-Rh...",43.4522771,4.4287172
27,"Collioure, Céret, Pyrénées-Orientales, Occitan...",42.52505,3.0831554
28,"Carcassonne, Aude, Occitanie, France métropoli...",43.2130358,2.3491069
29,"Ariège, Occitanie, France métropolitaine, France",42.9455368,1.4065544156065486
30,"Toulouse, Haute-Garonne, Occitanie, France mét...",43.6044622,1.4442469
31,"Montauban, Tarn-et-Garonne, Occitanie, France ...",44.0175835,1.3549991
32,"Biarritz, Bayonne, Pyrénées-Atlantiques, Nouve...",43.471143749999996,-1.552726590666314
33,"Bayonne, Pyrénées-Atlantiques, Nouvelle-Aquita...",43.4933379,-1.475099
34,"La Rochelle, Charente-Maritime, Nouvelle-Aquit...",46.1591126,-1.1520434

exemple = data_first_cities['display_name'][0]
exemple

In [79]:
data_1['display_name']=data_1['display_name'].apply(lambda x : x.split(',')[0])

<ipython-input-79-6e21b1afdd2c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1['display_name']=data_1['display_name'].apply(lambda x : x.split(',')[0])

In [81]:
data_1

                   display_name                 lat                 lon
0          Le Mont-Saint-Michel          48.6355232          -1.5102571
1                    Saint-Malo           48.649518          -2.0260409
2                        Bayeux          49.2764624          -0.7024738
3                      Le Havre          49.4938975           0.1079732
4                         Rouen          49.4404591           1.0939658
5                         Paris          48.8566969           2.3514616
6                        Amiens          49.8941708           2.2956951
7                         Lille          50.6365654           3.0635282
8                    Strasbourg           48.584614           7.7507127
9   Château du Haut-Kœnigsbourg  48.249489800000006    7.34429620253195
10                       Colmar          48.0777517           7.3579641
11                    Eguisheim          48.0447968           7.3079618
12                     Besançon          47.2380222           6.0243622
13                        Dijon          47.3215806           5.0414701
14                       Annecy          45.8992348           6.1288847
15                     Grenoble          45.1875602           5.7357819
16                         Lyon          45.7578137           4.8320114
17             Gorges du Verdon             43.7497             6.32859
18           Bormes-les-Mimosas          43.1506968           6.3419285
19                       Cassis          43.2140359           5.5396318
20                    Marseille          43.2961743           5.3699525
21              Aix-en-Provence          43.5298424           5.4474738
22                      Avignon          43.9492493           4.8059012
23                         Uzès          44.0121279           4.4196718
24                        Nîmes          43.8374249           4.3600687
25                Aigues-Mortes          43.5658225           4.1912837
26     Saintes-Maries-de-la-Mer          43.4522771           4.4287172
27                    Collioure            42.52505           3.0831554
28                  Carcassonne          43.2130358           2.3491069
29                       Ariège          42.9455368  1.4065544156065486
30                     Toulouse          43.6044622           1.4442469
31                    Montauban          44.0175835           1.3549991
32                     Biarritz  43.471143749999996  -1.552726590666314
33                      Bayonne          43.4933379           -1.475099
34                  La Rochelle          46.1591126          -1.1520434

data_1['lat']=data_1['lat'].astype(float)
data_1['lat']=round(data_1['lat'],2)

data_1['lon']=data_1['lon'].astype(float)
data_1['lon']=round(data_1['lon'],2)

In [38]:
data_2=pd.DataFrame()
data_2

Empty DataFrame
Columns: []
Index: []

0    48.6355232
1     48.649518
2    49.2764624
3    49.4938975
4    49.4404591
5    48.8566969
6    49.8941708
7    50.6365654
8     48.584614
Name: lat, dtype: object

In [82]:
data_lat=data_1.iloc[:,1]
data_lon=data_1.iloc[:,2]

In [83]:
param = {'lat':data_lat[0] , 
         'lon':data_lon[0], 
         "exclude": "current,minutely,hourly",
        "units": "metric",
        "appid": '93e1b4d146758830ad3bc42c9a16aeed'
}

In [84]:
len(data_lon)

35

In [85]:
temperature=[]
for index in range(len(data_lon)):
    param = {'lat':data_lat[index] , 
         'lon':data_lon[index], 
         "exclude": "current,minutely,hourly",
        "units": "metric",
        "appid": '93e1b4d146758830ad3bc42c9a16aeed'}
    
    r= requests.get('https://api.openweathermap.org/data/2.5/onecall', param)
    
    temp=[]
    for i in range (0,7):
        r3=r.json()['daily'][i]['temp']['day']
        temp.append(r3)

    temperature.append(np.mean(temp))

In [86]:
print(temperature)

[16.35857142857143, 16.47142857142857, 15.704285714285716, 15.078571428571431, 14.8, 16.37, 14.685714285714285, 14.224285714285713, 13.377142857142857, 11.872857142857143, 14.941428571428574, 15.172857142857143, 14.781428571428572, 14.741428571428575, 15.224285714285713, 17.66714285714286, 15.984285714285717, 15.224285714285715, 18.84857142857143, 18.404285714285717, 18.69714285714286, 17.65714285714286, 17.61714285714286, 17.284285714285712, 18.085714285714285, 18.09, 17.64428571428571, 19.267142857142858, 17.895714285714288, 13.522857142857143, 17.63, 17.81714285714286, 18.174285714285713, 18.81857142857143, 16.93285714285714]

In [87]:
data_1['temperature']=temperature

<ipython-input-87-75b5a73bd0b1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1['temperature']=temperature

In [90]:
data_1.to_csv('temp_cities.csv')

In [92]:
city_Amiens=pd.read_json('hotels_Amiens.json')

In [119]:
city_Aigues_Mortes=pd.read_json('hotels_Aigues-Mortes.json')
liste_Aigues_Mortes= city_Aigues_Mortes.iloc[:25]
liste_Aigues_Mortes['city']='Aigues-Mortes'

city_Aix_en_Provence=pd.read_json('hotels_Aix-en-Provence.json')
liste_Aix_en_Provence= city_Aix_en_Provence.iloc[:25]
liste_Aix_en_Provence['city']='Aix-en-Provence'

city_Amiens=pd.read_json('hotels_Amiens.json')
liste_Amiens= city_Amiens.iloc[:25]
liste_Amiens['city']='Amiens'

city_Annecy=pd.read_json('hotels_Annecy.json')
liste_Annecy= city_Annecy.iloc[:25]
liste_Annecy['city']='Annecy'

city_Ariege=pd.read_json('hotels_Ariege.json')
liste_Ariege= city_Ariege.iloc[:25]
liste_Ariege['city']='Ariege'

city_Avignon=pd.read_json('hotels_Avignon.json')
liste_Avignon= city_Avignon.iloc[:25]
liste_Avignon['city']='Avignon'

city_Bayeux=pd.read_json('hotels_Bayeux.json')
liste_Bayeux= city_Bayeux.iloc[:25]
liste_Bayeux['city']='Bayeux'

city_Bayonne=pd.read_json('hotels_Bayonne.json')
liste_Bayonne= city_Bayonne.iloc[:25]
liste_Bayonne['city']='Bayonne'

city_Besancon=pd.read_json('hotels_Besancon.json')
liste_Besancon= city_Besancon.iloc[:25]
liste_Besancon['city']='Besancon'

city_Biarritz=pd.read_json('hotels_Biarritz.json')
liste_Biarritz= city_Biarritz.iloc[:25]
liste_Biarritz['city']='Biarritz'

city_Bormes_les_Mimosas=pd.read_json('hotels_Bormes-les-Mimosas.json')
liste_Bormes_les_Mimosas= city_Bormes_les_Mimosas.iloc[:25]
liste_Bormes_les_Mimosas['city']='Bormes-les-Mimosas'

city_Carcassonne=pd.read_json('hotels_Carcassonne.json')
liste_Carcassonne= city_Carcassonne.iloc[:25]
liste_Carcassonne['city']='Carcassonne'

city_Cassis=pd.read_json('hotels_Cassis.json')
liste_Cassis= city_Cassis.iloc[:25]
liste_Cassis['city']='Cassis'

city_Chateau_du_Haut_Koenigsbourg=pd.read_json('hotels_Chateau-du-Haut-Koenigsbourg.json')
liste_Chateau_du_Haut_Koenigsbourg= city_Chateau_du_Haut_Koenigsbourg.iloc[:25]
liste_Chateau_du_Haut_Koenigsbourg['city']='Chateau-du-Haut-Koenigsbourg'

city_Collioure=pd.read_json('hotels_Collioure.json')
liste_Collioure= city_Collioure.iloc[:25]
liste_Collioure['city']='Collioure'

city_Colmar=pd.read_json('hotels_Colmar.json')
liste_Colmar= city_Colmar.iloc[:25]
liste_Colmar['city']='Colmar'

city_Dijon=pd.read_json('hotels_Dijon.json')
liste_Dijon= city_Dijon.iloc[:25]
liste_Dijon['city']='Dijon'

city_Eguisheim=pd.read_json('hotels_Eguisheim.json')
liste_Eguisheim= city_Eguisheim.iloc[:25]
liste_Eguisheim['city']='Eguisheim'

city_Gorges_du_Verdon=pd.read_json('hotels_Gorges-du-Verdon.json')
liste_Gorges_du_Verdon= city_Gorges_du_Verdon.iloc[:25]
liste_Gorges_du_Verdon['city']='Gorges-du-Verdon'

city_Grenoble=pd.read_json('hotels_Grenoble.json')
liste_Grenoble= city_Grenoble.iloc[:25]
liste_Grenoble['city']='Grenoble'

city_La_Rochelle=pd.read_json('hotels_La-Rochelle.json')
liste_La_Rochelle= city_La_Rochelle.iloc[:25]
liste_La_Rochelle['city']='La-Rochelle'

city_Le_Havre=pd.read_json('hotels_Le-Havre.json')
liste_Le_Havre= city_Le_Havre.iloc[:25]
liste_Le_Havre['city']='Le-Havre'

city_Lille=pd.read_json('hotels_Lille.json')
liste_Lille= city_Lille.iloc[:25]
liste_Lille['city']='Lille'

city_Lyon=pd.read_json('hotels_Lyon.json')
liste_Lyon= city_Lyon.iloc[:25]
liste_Lyon['city']='Lyon'

city_Marseille=pd.read_json('hotels_Marseille.json')
liste_Marseille= city_Marseille.iloc[:25]
liste_Marseille['city']='Marseille'

city_Mont_Saint_Michel=pd.read_json('hotels_Mont-Saint-Michel.json')
liste_Mont_Saint_Michel= city_Mont_Saint_Michel.iloc[:25]
liste_Mont_Saint_Michel['city']='Mont-Saint-Michel'

city_Montauban=pd.read_json('hotels_Montauban.json')
liste_Montauban= city_Montauban.iloc[:25]
liste_Montauban['city']='Montauban'

city_Nimes=pd.read_json('hotels_Nimes.json')
liste_Nimes= city_Nimes.iloc[:25]
liste_Nimes['city']='Nimes'

city_Paris=pd.read_json('hotels_Paris.json')
liste_Paris= city_Paris.iloc[:25]
liste_Paris['city']='Paris'

city_Rouen=pd.read_json('hotels_Rouen.json')
liste_Rouen= city_Rouen.iloc[:25]
liste_Rouen['city']='Rouen'

city_Saintes_Maries_de_la_mer=pd.read_json('hotels_Saintes-Maries-de-la-mer.json')
liste_Saintes_Maries_de_la_mer= city_Saintes_Maries_de_la_mer.iloc[:25]
liste_Saintes_Maries_de_la_mer['city']='Saintes-Maries-de-la-mer'

city_St_Malo=pd.read_json('hotels_St-Malo.json')
liste_St_Malo= city_St_Malo.iloc[:25]
liste_St_Malo['city']='St-Malo'

city_Strasbourg=pd.read_json('hotels_Strasbourg.json')
liste_Strasbourg= city_Strasbourg.iloc[:25]
liste_Strasbourg['city']='Strasbourg'

city_Toulouse=pd.read_json('hotels_Toulouse.json')
liste_Toulouse= city_Toulouse.iloc[:25]
liste_Toulouse['city']='Toulouse'

city_Uzes=pd.read_json('hotels_Uzes.json')
liste_Uzes= city_Uzes.iloc[:25]
liste_Uzes['city']='Uzes'

<ipython-input-119-489cabdfe347>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Aigues_Mortes['city']='Aigues-Mortes'
<ipython-input-119-489cabdfe347>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Aix_en_Provence['city']='Aix-en-Provence'
<ipython-input-119-489cabdfe347>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Amiens['city']='Amiens'
<ipython-input-119-489cabdfe347>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Annecy['city']='Annecy'
<ipython-input-119-489cabdfe347>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Ariege['city']='Ariege'
<ipython-input-119-489cabdfe347>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Avignon['city']='Avignon'
<ipython-input-119-489cabdfe347>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Bayeux['city']='Bayeux'
<ipython-input-119-489cabdfe347>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Bayonne['city']='Bayonne'
<ipython-input-119-489cabdfe347>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Besancon['city']='Besancon'
<ipython-input-119-489cabdfe347>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Biarritz['city']='Biarritz'
<ipython-input-119-489cabdfe347>:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Bormes_les_Mimosas['city']='Bormes-les-Mimosas'
<ipython-input-119-489cabdfe347>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Carcassonne['city']='Carcassonne'
<ipython-input-119-489cabdfe347>:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Cassis['city']='Cassis'
<ipython-input-119-489cabdfe347>:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Chateau_du_Haut_Koenigsbourg['city']='Chateau-du-Haut-Koenigsbourg'
<ipython-input-119-489cabdfe347>:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Collioure['city']='Collioure'
<ipython-input-119-489cabdfe347>:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Colmar['city']='Colmar'
<ipython-input-119-489cabdfe347>:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Dijon['city']='Dijon'
<ipython-input-119-489cabdfe347>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Eguisheim['city']='Eguisheim'
<ipython-input-119-489cabdfe347>:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Gorges_du_Verdon['city']='Gorges-du-Verdon'
<ipython-input-119-489cabdfe347>:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Grenoble['city']='Grenoble'
<ipython-input-119-489cabdfe347>:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_La_Rochelle['city']='La-Rochelle'
<ipython-input-119-489cabdfe347>:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Le_Havre['city']='Le-Havre'
<ipython-input-119-489cabdfe347>:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Lille['city']='Lille'
<ipython-input-119-489cabdfe347>:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Lyon['city']='Lyon'
<ipython-input-119-489cabdfe347>:99: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Marseille['city']='Marseille'
<ipython-input-119-489cabdfe347>:103: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Mont_Saint_Michel['city']='Mont-Saint-Michel'
<ipython-input-119-489cabdfe347>:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Montauban['city']='Montauban'
<ipython-input-119-489cabdfe347>:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Nimes['city']='Nimes'
<ipython-input-119-489cabdfe347>:115: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Paris['city']='Paris'
<ipython-input-119-489cabdfe347>:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Rouen['city']='Rouen'
<ipython-input-119-489cabdfe347>:123: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Saintes_Maries_de_la_mer['city']='Saintes-Maries-de-la-mer'
<ipython-input-119-489cabdfe347>:127: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_St_Malo['city']='St-Malo'
<ipython-input-119-489cabdfe347>:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Strasbourg['city']='Strasbourg'
<ipython-input-119-489cabdfe347>:135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Toulouse['city']='Toulouse'
<ipython-input-119-489cabdfe347>:139: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  liste_Uzes['city']='Uzes'

In [120]:
hotels=[liste_Aigues_Mortes, liste_Aix_en_Provence, liste_Amiens,liste_Annecy, liste_Ariege, liste_Avignon, liste_Bayeux, liste_Bayonne, liste_Besancon, liste_Biarritz, liste_Bormes_les_Mimosas, liste_Carcassonne, liste_Cassis,liste_Chateau_du_Haut_Koenigsbourg, liste_Collioure, liste_Colmar, liste_Dijon, liste_Eguisheim, liste_Gorges_du_Verdon, liste_Grenoble, liste_La_Rochelle, liste_Le_Havre, liste_Lille, liste_Lyon, liste_Marseille, liste_Mont_Saint_Michel, liste_Montauban, liste_Nimes, liste_Paris, liste_Rouen, liste_Saintes_Maries_de_la_mer, liste_St_Malo, liste_Strasbourg, liste_Toulouse, liste_Uzes]

In [121]:
hotels=pd.concat(hotels)
hotels.to_csv('hotels.csv')

In [ ]:
#liste_hotels['city'].insert(0)='Amiens' / chercher comment mettre la colonne city en première position
df= pd.read_csv("df.csv", index_col="nom de la colonne")